header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}

header {
    background-color: white;
    border-bottom: 1px #CCCCCC;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat, repeat;
    background-position: 20px;
}